.capitalized {
    text-transform: uppercase;
}

/* Buttons */
.blue.ui-state-hover .ui-button-text {
    background: #59ad40 !important;
}

.blue.ui-button .ui-button-text {
    background: #00529b;
    color: white;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	padding: 2px;
	text-transform: capitalize;
}

.blue.ui-button .ui-button-hover {
    background: #59ad40;

}

.green.ui-button .ui-button-text {
    background: #59ad40;
    color: white;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	padding: 2px;
	text-transform: capitalize;
}

/* DataTable */
.ui-datatable { /* Borde azul en tabla */
    border: 1px solid #00529b;
}

.ui-datatable .ui-widget-header {
	font-weight: normal !important;
}

.ui-paginator {
	text-align: right !important;
	background: white !important;
	border: white !important;	
}

.ui-paginator span {
	text-align: left !important;
}

.ui-paginator.ui-widget-header .ui-state-active {
    background: #e4e4e4 !important;
    color: #ffffff !important;
}

.ui-datatable-header.ui-widget-header{
	  background: #ffffff !important;
    color: #000000 !important;
}

.ui-paginator.ui-state-default, .ui-paginator.ui-widget-content .ui-state-default, .ui-paginator.ui-widget-header .ui-state-default {
    border: 1px solid #dfdfdf;
    background: #ffffff;
    color: #000000 !important;
	opacity: 0.7;
	font-size: 10px !important;
}

.ui-datatable-tablewrapper .ui-state-default, .ui-datatable-scrollable-header .ui-state-default {
	background: #ffffff !important;
	color: #00529b !important;
	font-weight: 500 !important;
	font-size: 11px !important;
	font-family: 'Montserrat', sans-serif;
	/*border: white !important;*/	
}

.ui-datatable-data .ui-widget-content{
	border: 1px solid #acbece !important;
}

.ui-datatable .ui-widget-header{
	border: 1px solid #ffffff !important;
}

.sinfondo.ui-datatable .ui-state-highlight{ /* especifico para quitar el color de seleccion en tablas con checks */ 
	background: #ffffff !important;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer { /* Alinear contenido del header a la derecha para el conteo de elementos desplegados */
    text-align: right;
}

.sinfondo.ui-datatable .ui-selection-column .ui-chkbox-all {
	display:none;
}


/* PanelGrid */
.ui-panel .ui-panel-titlebar {
	background: #59ad40;
	font-weight: 500;
	color: #ffffff;
	font-size: 14px !important;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	text-transform: uppercase;
}

.ui-panel.ui-widget-content {
	border: 1px solid green !important;
}

.no-padding.ui-panelgrid .ui-panelgrid-cell {
    padding: 0px 0px !important;;
}

/* SelectOne */
.ui-selectonemenu-items-wrapper .ui-widget {
	font-size: 12px !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #3c3c3c !important;
	box-shadow: none !important;
}

.ui-selectonemenu.ui-state-default, .ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default{
	background: transparent !important;
}

.ui-selectonemenu-items-wrapper .ui-widget-content .ui-state-default{ /* encabezado de tablas dentro de un selecOneMenu */
	background: white !important;
	color: #00529b !important;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	border: white !important;	
}

/* Datepicker */
.ui-datepicker-trigger{
    background: #00529b54 !important    
}

.ui-datepicker-calendar .ui-state-default {
	border: 0px !important;
	background: transparent !important;
}

.ui-icon-calendar {
	background-image: url("../Imagenes/calendar.png") !important;
	background-position: center center !important;
	background-size: 16px;
}

/* Texto general toda la app */
.ui-widget {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px;
	font-weight: 500 !important;
}

.ui-widget-content {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px !important;
}

.ui-widget.ui-widget-content {
	border: 1px solid #59ad40 !important;
}
.ui-widget-content {
	border: 1px solid #59ad40;
	background: #ffffff;
	color: #000000;
}
.ui-widget-content a {
	color: #000000;
}
.ui-widget-header {
	border: 1px solid #59ad40 !important;
	background: #59ad40;
	color: #ffffff;
	font-weight: 500 !important;
}
.ui-widget-header a {
	color: #ffffff;
}

.gridCell-right{
	text-align:right;
}

.outputlabel-shadow{		
	background:#f3f3f3 !important;
	color:#848484 !important;
	border:1px #d9d9d9 solid !important; 
	height:25px !important;
	padding-left: 10px !important;
	text-align: left !important;
}

/*
.ui-inputfield.ui-state-default, .ui-selectonemenu, .ui-radiobutton-box, .ui-chkbox-box .ui-chkbox-icon {
    border: 1px solid #00529b !important;
}*/

.ui-selectonemenu-trigger {
	border: 1px solid transparent !important;
}

.ui-state-highlight{
	background: #00529b54 !important;
}

.gridCell-green th{
	background: #59ad40 !important;
    border-color: #59ad40 !important;
    color:#ffffff;
}

.detalleProceso .ui-widget-header{	
	background: #00529b !important;
	border: 1px solid #00529b !important;
	color: #ffffff !important;
	font-weight: 500 !important;	
	text-align:left;
	border-radius: .25rem;
	font-size: 14px !important;
}

.detalleProceso .ui-paginator{	
	background: #ffffff !important;
	border: 1px solid #ffffff !important;
}


.fondoDialog .ui-dialog .ui-widget{
	background: rgb(0, 0, 0) transparent;
}

 .modal-backdrop{
    opacity:.7 !important;
 } 
 
 
 .loading.ui-dialog.ui-widget.ui-widget-content{
       box-shadow: none !important;
       border: 0px !important;
       background: rgb(37 37 37) !important;
       width: 100% !important;
       height: 100% !important;     
       overflow: auto;
       opacity: .7 !important;
       z-index:1051;
 }
.ui-widget-overlay {
    background: rgb(37 37 37) !important;
    opacity: .7 !important;
}
.dialogStyle.ui-dialog.ui-widget.ui-widget-content.ui-widget-header {
	border: 0px !important;
	background: #ffffff !important;
	color: #ffffff !important;
	font-weight: 500 !important;
}

.flechaArribaAbajo{
	color:white !important;
}