/* Header */
.plataforma {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: rgb(0, 82, 155) !important;
}

.texto {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #5d5d5d !important;
}

.textoF {
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;;
	font-size: 12px;
	color: #5d5d5d !important;
}

.cerrar {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: red !important;
}

.no-border .ui-widget-content {
	border: 0px transparent !important;
}

.pad-cel.ui-panelgrid .ui-panelgrid-cell {
	border-width: 0px;
	padding: 0px;
}

.pad-rig.ui-panelgrid .ui-panelgrid-cell {
	padding-right: 30px;
}

#header {
	border-bottom: solid 3px #ea324a !important;
}

/* footer */
#footer {
	border-top: solid 3px #d2cbcb !important;
}

/* Layout */
.ui-layout-north {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-south {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-west {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-center {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-resizer-west-dragging, .ui-layout-resizer-west-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-w.gif']}")
		repeat-y center;
}

.ui-layout-resizer-west-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-e.gif']}")
		repeat-y center;
}

.ui-layout-toggler-west-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-lt.gif']}")
		no-repeat scroll left center transparent;
}

.ui-layout-toggler-west-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-rt.gif']}")
		no-repeat scroll right center transparent;
}

.ui-layout-resizer-east-dragging, .ui-layout-resizer-east-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-e.gif']}")
		repeat-y center;
}

.ui-layout-resizer-east-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-w.gif']}")
		repeat-y center;
}

.ui-layout-toggler-east-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-rt.gif']}")
		no-repeat scroll right center transparent;
}

.ui-layout-toggler-east-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-lt.gif']}")
		no-repeat scroll left center transparent;
}

.ui-layout-resizer-north-dragging, .ui-layout-resizer-north-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-n.gif']}")
		repeat-x center;
}

.ui-layout-resizer-north-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-s.gif']}")
		repeat-x center;
}

.ui-layout-toggler-north-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-up.gif']}")
		no-repeat scroll top center transparent;
}

.ui-layout-toggler-north-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-dn.gif']}")
		no-repeat scroll bottom center transparent;
}

.ui-layout-resizer-south-dragging, .ui-layout-resizer-south-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-s.gif']}")
		repeat-x center;
}

.ui-layout-resizer-south-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-n.gif']}")
		repeat-x center;
}

.ui-layout-toggler-south-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-dn.gif']}")
		no-repeat scroll bottom center transparent;
}

.ui-layout-toggler-south-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-up.gif']}")
		no-repeat scroll top center transparent;
}

#centro, #izquierdo {
	background: transparent !important;
}

#menu { /*transparencia layout*/
	background: transparent;
}

/* Others */
#img-fondo {
	background-image: url("../Imagenes/intro-ad-op.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	width: 101.1%;
	margin-left: -8px;
}

/* Combo menu */
.menu.ui-inputfield, .ui-widget-content .ui-inputfield {
	background: transparent !important;
}

div[id$="mod_panel"] .ui-selectonemenu-items-wrapper .ui-widget {
	font-size: 14px !important;
	font-weight: bold !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
}

.menu.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 14px !important;
	font-weight: bold !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #00529b !important;
	box-shadow: none !important;
}

.menu.ui-state-default, .menu.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default
	{
	border: 0px !important;
	background: transparent !important;
}

/* Combo submenu */
.submenu.ui-inputfield, .ui-widget-content .ui-inputfield {
	background: #ffffff !important;
}

div[id$="sub_panel"] .ui-selectonemenu-items-wrapper .ui-widget {
	font-size: 14px !important;
	font-weight: bold !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
}

div[id$="sub_panel"] .ui-selectonemenu-items-wrapper {
	max-height: 100% !important;
}

.submenu.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 14px !important;
	font-weight: bold !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #00529b !important;
	box-shadow: none !important;
}

.submenu.ui-state-default, .submenu.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default
	{
	border: 0px !important;
	background: transparent !important;
}

.ui-selectonemenu-panel-rtl .ui-selectonemenu-list-item {
	text-align: left;
}

.img .ui-state-default .ui-icon {
	background-image: url("../Imagenes/menu.png");
	background-position: center;
}