.tran.ui-state-default {
	background: #06549c
		url("#{request.contextPath}/javax.faces.resource/Imagenes/iconos-menu-operaciones-1.png.jsf")
		center/80% no-repeat;
	
}

.proc.ui-state-default {
	background: #06549c
		url("#{request.contextPath}/javax.faces.resource/Imagenes/iconos-menu-operaciones-2.png.jsf")
		center/80% no-repeat;
	
}

.reca.ui-state-default {
	background: #06549c
		url("#{request.contextPath}/javax.faces.resource/Imagenes/iconos-menu-operaciones-3.png.jsf")
		center/80% no-repeat;
	
}

.repo.ui-state-default {
	background: #06549c
		url("#{request.contextPath}/javax.faces.resource/Imagenes/iconos-menu-operaciones-4.png.jsf")
		center/80% no-repeat;
	
}

.cata.ui-state-default {
	background: #06549c
		url("#{request.contextPath}/javax.faces.resource/Imagenes/iconos-menu-operaciones-5.png.jsf")
		center/80% no-repeat;
	
}

.ui-state-hover {
 box-shadow: 3px 1px 2px gray, 0 0 25px gray, 0 0 25px gray;
}

#centro.ui-layout-center {
	background: url("#{request.contextPath}/javax.faces.resource/Imagenes/logos.jpg.jsf") !important;
	background-size: 100% !important;
}

.tb.ui-widget .ui-widget-content {
	background: transparent !important;
}

.ui-button {
	width: 190px;
	height: 190px;
}

.ui-button .ui-button-text {
	color: #f9f9f9;
	margin-top: 120px;
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif;
}

.btn-p {
	margin-top: 26px;
	
	background: #59ad40;
	color: white;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 70px !important;
	padding-right: 70px !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	
	font-weight: 500 !important;
	border-radius: 0.25rem;
	line-height: 1.5;
}

.corn.ui-corner-all {
	border-radius: 20px !important;
}