/* Header */
.plataforma {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: rgb(0, 82, 155) !important;
}

.texto {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	color: #5d5d5d !important;
}

.textoF {
	text-decoration: none;
	font-family: 'Noto Sans', sans-serif;;
	font-size: 12px;
	color: #5d5d5d !important;
}

.cerrar {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: red !important;
}

.no-border .ui-widget-content {
	border: 0px transparent !important;
}

.pad-cel.ui-panelgrid .ui-panelgrid-cell {
	border-width: 0px;
	padding: 0px;
}

.pad-rig.ui-panelgrid .ui-panelgrid-cell {
	padding-right: 30px;
}

#header {
	border-bottom: solid 3px #ea324a !important;
}

/* footer */
#footer {
	border-top: solid 3px #d2cbcb !important;
}

/* Layout */
.ui-layout-north {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-south {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-west {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-east {
	border: 0 none !important;
	padding: 2px;
}

.ui-layout-center {
	border: 0 none !important;
	margin-top: -6px !important;
	 height: 560px !important; 
	
}

#centrado{
	padding-right: 150px;
}

#menuBar{
	padding: 5px !important;
}

.ui-layout-resizer-west-dragging, .ui-layout-resizer-west-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-w.gif']}")
		repeat-y center;
}

.ui-layout-resizer-west-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-e.gif']}")
		repeat-y center;
}

.ui-layout-toggler-west-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-lt.gif']}")
		no-repeat scroll left center transparent;
}

.ui-layout-toggler-west-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-rt.gif']}")
		no-repeat scroll right center transparent;
}

.ui-layout-resizer-east-dragging, .ui-layout-resizer-east-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-e.gif']}")
		repeat-y center;
}

.ui-layout-resizer-east-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-w.gif']}")
		repeat-y center;
}

.ui-layout-toggler-east-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-rt.gif']}")
		no-repeat scroll right center transparent;
}

.ui-layout-toggler-east-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-lt.gif']}")
		no-repeat scroll left center transparent;
}

.ui-layout-resizer-north-dragging, .ui-layout-resizer-north-open-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-n.gif']}")
		repeat-x center;
}

.ui-layout-resizer-north-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-s.gif']}")
		repeat-x center;
}

.ui-layout-toggler-north-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-up.gif']}")
		no-repeat scroll top center transparent;
}

.ui-layout-toggler-north-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-dn.gif']}")
		no-repeat scroll bottom center transparent;
}

.ui-layout-resizer-south-dragging, .ui-layout-resizer-south-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-s.gif']}")
		repeat-x center;
}

.ui-layout-resizer-south-closed-hover {
	background:
		url("#{resource['primefaces-extensions:layout/resizable-n.gif']}")
		repeat-x center;
}

.ui-layout-toggler-south-open {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-dn.gif']}")
		no-repeat scroll bottom center transparent;
}

.ui-layout-toggler-south-closed {
	background:
		url("#{resource['primefaces-extensions:layout/toggle-up.gif']}")
		no-repeat scroll top center transparent;
}

#centro, #izquierdo {
	background: transparent !important;
	
}

#izquierdo{
 	margin-left:5px !important;
}


#menu { /*transparencia layout*/
	background: transparent;
}

/* Others */
#img-fondo {
	background-image: url("../Imagenes/intro-ad-op.jpg");
	height: 100%;
	background-position: center;
	background-size: cover;
	width: 101.1%;
	margin-left: -8px;
}

/* Combo menu */
.menu.ui-inputfield, .ui-widget-content .ui-inputfield {
	background: transparent !important;
}

div[id$="mod_panel"] .ui-selectonemenu-items-wrapper .ui-widget {
	font-size: 12px !important;
	font-weight: bold !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
	border: 0px solid white !important;
	padding: 6px 5px !important;
}

div[id$="mod_panel"] .menu.ui-state-default, .menu.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default
	{
	background: #00529b !important;
}

div[id$="mod_panel"] .ui-selectonemenu-item{
	padding: 5px 5px !important;
	font-weight: bold !important;
}

.menu.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 12px !important;
	font-weight: bold !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #ffffff !important;
	box-shadow: none !important;
	background-color: #00529b !important;
}

.menu.ui-state-default, .menu.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default
	{
	border: 0px !important;
	background: transparent;
}

/* Combo submenu */
.submenu.ui-inputfield, .ui-widget-content .ui-inputfield {
	background: #ffffff !important;
}

div[id$="sub_panel"] .ui-selectonemenu-items-wrapper .ui-widget {
	padding: 9px 5px !important;
	font-size: 12px !important;
	font-weight: bold !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
	border: 0px solid white !important;
	
}

div[id$="sub_panel"] .ui-selectonemenu-list-item{
	padding: 6px 5px !important;
	font-weight: 500 !important;
}

.menu.ui-selectonemenu .ui-state-default .ui-icon{
	background-image: url("/aforedigitalgt/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-omega");
}

div[id$="sub_panel"] .ui-selectonemenu-items-wrapper {
	max-height: 100% !important;
}

.submenu.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 12px !important;
	font-weight: 600 !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #00529b !important;
	box-shadow: none !important;
}

.submenu.ui-state-default, .submenu.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default
	{
	border: 0px !important;
	background: transparent !important;
}

.ui-selectonemenu-panel-rtl .ui-selectonemenu-list-item {
	text-align: left;
}

.img .ui-state-default .ui-icon {
	background-image: url("../Imagenes/menu.png");
	background-position: center;
}
span.ui-chkbox-icon.ui-icon.ui-icon-check.ui-c{
	background-color: #59ad40;
	background-image: url(/aforedigitalgt/javax.faces.resource/images/ui-icons_ffffff_256x240.png.jsf?ln=primefaces-omega);	
}
.circle-left-head {
    display: inline-block;
    width: 60%;
    height: auto;
    border-radius: 100%;
    margin-left: -15px !important;
}
.user-circle-color{
	color:#59ad40;
}

.circle-left-head2 {
    display: inline-block;
    width: 13%;
    height: auto;
    border-radius: 100%;    
    margin-right: 5px;
    margin-top:5px;
}

.m1.ui-menu{  
    position: absolute !important;
    background-color: #f1f1f1;
    min-width: 174px !important;
    width:174px !important;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
    margin-top: 24px !important;
    border-radius: 0px !important;  
    color: #8e8b8b !important;
}
.m1 li.ui-widget-header.ui-corner-all{
	background: transparent !important;
    border: 0px !important;
}

.m1.ui-menu a:hover{
	     color: #fff ;
         border: 1px solid #ea324a;
         border-radius:0px !important;
         background: #ea324a;
         text-decoration: none;
         width:164px !important;
         box-shadow: none !important;
}
.m1.ui-menu a{
	color:#8e8b8b;
}
.m1.ui-menu.ui-widget-content{
	  border:transparent !important;		        
}

.m1 .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
	opacity:1 !important;
}

.m1.ui-menu .ui-menuitem-text{
	padding-left: 10px !important;
	margin-top: -2px !important;
} 
.m1.ui-widget{
	font-size:12px !important;
	font-family: sans-serif !important;
}
.separador.ui-separator.ui-state-default{
	width: 104%;
    margin-left: -4px;
    border: 0px solid #e9ecef !important;
    border-top: 0 none !important;
    height: 3px;
    background: #e9ecef;
    margin-bottom:5px;
}
.textBoton{	
	background-image: url(/aforedigitalgt/javax.faces.resource/Imagenes/menu.png.jsf) !important;
	background-position: center;
}
.estiloBoton .ui-button-text{	
    color: #00529b !important;    
    font-weight: 600 !important;
    width: 390px !important;
}
.itemStyle{
	font-size: 12px !important;
	padding: 6px 5px !important;
    font-weight: 500 !important;
    color:#00529b !important;
    width:97% !important;
}
.styleMenu.ui-menu{
	top:92px !important;
}

.m1.ui-menu .ui-menuitem-text .ui-outputpanel{
	word-wrap: break-word !important;
    width: 135px !important;
}
.est-imgencab {
	margin-top: 7px;
	margin-left: 4px;   
}