/* Buttons */
.blue.ui-button .ui-button-text {
    background: #00529b;
    color: white;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.green.ui-button .ui-button-text {
    background: #59ad40;
    color: white;
    font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

/* DataTable */
.ui-paginator {
	text-align: right !important;
	background: white !important;
	border: white !important;	
}

.ui-paginator span {
	text-align: left !important;
}

.ui-paginator.ui-widget-header .ui-state-active {
    background: lightblue !important;
    color: #ffffff !important;
}

.ui-paginator.ui-state-default, .ui-paginator.ui-widget-content .ui-state-default, .ui-paginator.ui-widget-header .ui-state-default {
    border: 1px solid #000000;
    background: #ffffff;
    color: #000000 !important;
	  opacity: 0.70;
}

.ui-datatable-tablewrapper .ui-state-default, .ui-datatable-scrollable-header .ui-state-default {
	background: white !important;
	color: #00529b !important;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	border: white !important;	
}

.ui-datatable .ui-widget-header{
	border: 1px solid #ffffff !important;
}

.sinfondo.ui-datatable .ui-state-highlight{ /* especifico para quitar el color de seleccion en tablas con checks */ 
	background: #ffffff !important;
}

.sinfondo.ui-datatable .ui-selection-column .ui-chkbox-all {
	display:none;
}
/* PanelGrid */
.ui-panel .ui-panel-titlebar {
	background: #59ad40;
	font-weight: bold;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
}

.ui-panel.ui-widget-content {
	border: 1px solid green !important;
}

/* SelectOne */
.ui-selectonemenu-items-wrapper .ui-widget {
	font-size: 12px !important;
	color: #00529b !important;
	font-family: 'Montserrat', sans-serif !important;
}

.ui-selectonemenu .ui-selectonemenu-label {
	font-size: 12px !important;
	font-family: 'Montserrat', sans-serif !important;
	color: #3c3c3c !important;
	box-shadow: none !important;
}

.ui-selectonemenu.ui-state-default, .ui-selectonemenu .ui-selectonemenu-trigger.ui-state-default{
	background: transparent !important;
}

.ui-selectonemenu-items-wrapper .ui-widget-content .ui-state-default{ /* encabezado de tablas dentro de un selecOneMenu */
	background: white !important;
	color: #00529b !important;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	border: white !important;	
}

/* Datepicker */
.ui-datepicker-trigger{
    background: #00529b54 !important    
}

.ui-datepicker-calendar .ui-state-default {
	border: 0px !important;
	background: transparent !important;
}

/* Texto general toda la app */
.ui-widget {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px !important;
}

.ui-widget-content {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px !important;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Montserrat, sans-serif !important;
	font-size: 12px !important;
}

.ui-widget.ui-widget-content {
	border: 1px solid #59ad40 !important;
}
.ui-widget-content {
	border: 1px solid #59ad40;
	background: #ffffff;
	color: #000000;
}
.ui-widget-content a {
	color: #000000;
}
.ui-widget-header {
	border: 1px solid #59ad40 !important;
	background: #59ad40 !important;
	color: #ffffff !important;
	font-weight: bold !important;
}
.ui-widget-header a {
	color: #ffffff;
}

.gridCell-right{
	text-align:right;
}

.outputlabel-shadow{
	background: #dddddd;
	border-radius: 5px;
	height:25px;
	width:350px;
	text-align: left;
}


.ui-inputfield.ui-state-default, .ui-selectonemenu, .ui-radiobutton-box, .ui-chkbox-box .ui-chkbox-icon {
    border: 1px solid #00529b !important;
}

.ui-selectonemenu-trigger {
	border: 1px solid transparent !important;
}

.ui-state-highlight{
	background: #00529b54 !important;
}

.gridCell-green th{
	background: #59ad40 !important;
    border-color: #59ad40 !important;
    color:#ffffff;
}