.tran.ui-state-default {
	background: #003f77
		url("/javax.faces.resource/Imagenes/transacciones.png.jsf") center
		no-repeat;
}

.proc.ui-state-default {
	background: #003f77
		url("/javax.faces.resource/Imagenes/procesos.png.jsf") center
		no-repeat;
}

.reca.ui-state-default {
	background: #003f77
		url("/javax.faces.resource/Imagenes/recaudaciones.png.jsf") center
		no-repeat;
}

.repo.ui-state-default {
	background: #003f77
		url("/javax.faces.resource/Imagenes/reportes.png.jsf") center
		no-repeat;
}

.tb.ui-widget .ui-widget-content {
	background: transparent !important;
}

.ui-button {
	width: 160px;
	height: 190px;
}

.ui-button .ui-button-text {
	color: #f9f9f9;
	margin-top: 120px;
	font-size: 16px !important;
	font-family: 'Roboto Condensed', sans-serif;
}

.btn-p {
	margin-top: 26px;
	margin-left: 52px;
	background: #70b65b;
	color: white;
	padding: 15px;
	border-radius: 0.25rem;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
}

.ui-corner-all {
    border-radius: 20px !important;
}